<div class="black"></div>

<ion-header class="ion-no-border">
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button routerLink="/home">
      <ion-icon name="caret-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button>
      <ion-icon name="ellipsis-horizontal" ></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<img class="cover" src="../../../assets/img/starboy.jpeg" />
<ion-title>Starboy</ion-title>
<ion-text class="author">The Weeknd</ion-text>
<ion-text color="primary"  class="tracks">18 tracks</ion-text>

<ion-button class="bPlay"fill="clear">
  <ion-icon class="iconPlayB"  slot="icon-only"  name="play-circle"></ion-icon>
</ion-button>

<ion-button class="bRandom"fill="clear">
  <ion-icon class="iconRandom"  slot="icon-only"  name="shuffle"></ion-icon>
</ion-button>

</ion-header>

<ion-content>

  <ion-button class="song" expand="block" color="light" size="small">
    Starboy (Ft. Daft Punk)
  </ion-button>
  <ion-button class="song" expand="block" color="light" size="small">
    Party Monster
  </ion-button>
  <ion-button class="song" expand="block" color="light" size="small">
    False Alarm
  </ion-button>
  <ion-button class="song" expand="block" color="light" size="small">
    Reminder
  </ion-button>
  <ion-button class="song" expand="block" color="light" size="small">
    Rockin'
  </ion-button>
  <ion-button class="song" expand="block" color="light" size="small">
    Secrets
  </ion-button>
  <ion-button class="song" expand="block" color="light" size="small">
    True Colors 
  </ion-button>
  <ion-button class="song" expand="block" color="light" size="small">
    Stargirl Interlude (Ft. Lana del Rey) 
  </ion-button>
  <ion-button class="song" expand="block" color="light" size="small">
    Sidewalks (Ft. Kendrick Lamar)
  </ion-button>
  <ion-button class="song" expand="block" color="light" size="small">
    Six Feet Under
  </ion-button>
  <ion-button class="song" expand="block" color="light" size="small">
    Love to Lay
  </ion-button>
  <ion-button class="song" expand="block" color="light" size="small">
    A Lonely Night
  </ion-button>
  <ion-button class="song" expand="block" color="light" size="small">
    Attention
  </ion-button>
  <ion-button class="song" expand="block" color="light" size="small">
    Ordinary Life
  </ion-button>
  <ion-button class="song" expand="block" color="light" size="small">
    Nothing Without You
  </ion-button>
  <ion-button class="song" expand="block" color="light" size="small">
    All I Know (Ft. Future)
  </ion-button>
  <ion-button class="song" expand="block" color="light" size="small">
    Die For You 
  </ion-button>
  <ion-button class="song" expand="block" color="light" size="small">
    I Feel It Coming (Ft. Daft Punk)
  </ion-button>
  <ion-button class="song" expand="block"fill="clear" size="small">
    
  </ion-button>
  <ion-button class="song" expand="block" fill="clear" size="small">
    
  </ion-button>

  <ion-button  color="dark"class="reproClose" id="open-modal">
    <img class="coverRC" src="./../../../assets/img/igor.jpeg" />
        
    <div class="titleSongRC">A BOY IS A GUN*</div>
    <ion-button class="play" fill="clear"><ion-icon class="IRC"slot="icon-only" name="play"></ion-icon></ion-button>
    <ion-button class="forward" fill="clear"><ion-icon class="IRC"slot="icon-only" name="play-forward"></ion-icon></ion-button>
    

  </ion-button>

  <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <div class="block">

        <img class="coverRA" src="./../../assets/img/igor.jpeg" />
        
        <h2 class="songRA">A BOY IS A GUN*</h2>
        <ion-text class="authorRA">Tyler The creator</ion-text>
        <div class="rectangle"></div>
        <div class="rectangle2"></div>

        <ion-button class="backRA"  fill="clear"><ion-icon class="IconRA" slot="icon-only" size="large" name="play-back"></ion-icon></ion-button>
        <ion-button class="playRA"  fill="clear"><ion-icon class="IconRA" slot="icon-only" size="large" name="play"></ion-icon></ion-button>
        <ion-button class="forwardRA"  fill="clear"><ion-icon class="IconRA" slot="icon-only" size="large" name="play-forward"></ion-icon></ion-button>
      </div>
    </ng-template>
  </ion-modal>

</ion-content>
